main{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    max-width: 1440px;
}


main h3{
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
